<!DOCTYPE html>
<html>
  <head>
    <title>Live Chat</title>
  </head>
  <body>
    <h1>Live Chat</h1>
    <div id="messages">
      <% for(var i=0; i < messages.length; i++) { %>
        <div><%= messages[i].username + ': ' + messages[i].message %></div>
     <% } %>
    </div>
    <input id="message-input" type="text" placeholder="Type your message here">
    <button id="send-button">Send</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const cookie = getCookie("token");
      const username = '<%= username %>';
      const socket = io();
      socket.on('connect', () => {
        // console.log('Connected to server');
      });
      socket.on('disconnect', () => {
        // console.log('Disconnected from server');
      });
      const messages = document.getElementById('messages');
      const messageInput = document.getElementById('message-input');
      const sendButton = document.getElementById('send-button');
      sendButton.addEventListener('click', () => {
        const message = messageInput.value;
        socket.emit('message', {username, message});
        messageInput.value = '';
      });
      socket.on('message', (data) => {
        const messageElement = document.createElement('div');
        messageElement.innerText = data. username + ": " + data.message;
        messages.appendChild(messageElement);
      });


      function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
    </script>
  </body>
</html>