<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1">
	<title>Login</title>
	<!-- the form awesome library is used to add icons to our form -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	<!-- include the stylesheet file -->
	<link href="./css/styles.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script>
		$(function () {
			$("#login_form").submit(function (e) {
				e.preventDefault();
			});
			$("#btn_login").on("click", function () {
				var data = {};
				data.username = $('#username').val();
				data.password = $('#password').val();

				$.ajax({
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					url: './auth',
					success: function (data, textStatus, xhr) {
						document.cookie = "token=" + data.token;
						document.cookie = "username=" + data.username;
						window.location.href = "/";
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
						alert(XMLHttpRequest.responseText);
					}
				});
			});
		});
	</script>
</head>

<body>
	<div class="login">
		<h1>Login</h1>
		<form id="login_form">
			<label for="username">
				<!-- font awesome icon -->
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="username" placeholder="Username" id="username" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			<input type="submit" value="Login" id="btn_login">
		</form>
	</div>
</body>

</html>